<h1>Message Details</h1>
<p><strong>From:</strong> <%= user.username %></p>
<p><strong>Message:</strong> <%= user.text %></p>
<p><strong>Posted at:</strong> <%= user.created_at%></p>

<a href="/">Back to all messages</a>
