<h1>Message Details</h1>
<p><strong>From:</strong> <%= messages.user %></p>
<p><strong>Message:</strong> <%= messages.text %></p>
<p><strong>Posted at:</strong> <%= messages.added%></p>

<a href="/">Back to all messages</a>
